*{
      box-sizing: border-box;

}
body{ height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #000;
}

.container{
    
      height: 450px;
      border-radius: 15px;
      background:gray;
    
      justify-content: center;
      align-items: center;
      display: flex;
      box-shadow: 3px 3px 6px white, -3px -3px 6px white
}
form{ display: inline-block;
      box-sizing: border-box; 
      width:  330px;
      height: 450PX;
      text-align: center;
      padding: 4px;
      
 }
 #scr{pointer-events: none; 
     text-align: right;
     width: 290px;
     height:70px;
     border-radius: 12px;
     outline: none;
     border: none;
     padding-right: 5px;
     margin-bottom: 27px;
     box-shadow: inset 3px 3px 1px black , inset -3px -3px 1px white;
   }
 
 input{ font-size: 200%;
        background:gray;
        width: 90px;
        height: 50px;
        margin: 4px;
        color: white;
        border-radius: 10px;
        outline: none;
        border: none;
        box-shadow: inset -3px -3px 1px black , inset 3px 3px 1px white

 }

 input:hover{
    box-shadow: inset 3px 3px 1px black, inset -3px -3px 1px white
 }
 #scr:hover{
    box-shadow: inset 3px 3px 1px black, inset -3px -3px 1px white
 }

.red{
      background: red;
}

.green{
      background: rgb(9, 9, 227);
}

.green:hover{
      background: #ffffff;
      color: blue;
}